<html>
<head>
  <title>Vue Tables</title>
  <!-- https://unpkg.com/vue@2.0.3/dist/vue.js -->
  <script src='./scripts/vue.js'></script>
</head>
<body>
  <h1>vue tables</h1>

  <div id="explorer" class="explorer">
    <h1>Companies List in Vue.js</h1>

    <div class="filters">
      <p>sectors:</p>
      <template v-for="sector in filters.sectors">
<!--         <div class="filter">
          <input type="radio"
                 :id="sector"
                 :value="sector"
                 name="sector"
                 v-model="selectedSector">
          <label :for="sector">{{ sector }}</label>
        </div> -->
        <button v-on:click="toggleSelectedSectorFilter(sector)">
          {{sector}}
        </button>
      </template>

      <p>ages:</p>
      <template v-for="age in filters.ages">
        <div class="filter">
          <input type="radio"
                 :id="age.label"
                 :value="age"
                 :name="age.label"
                 v-model="selectedAge">
          <label :for="age.label">{{ age.label }}</label>
        </div>
      </template>
    </div>

    <hr>
    <p>Selected sectors: {{selectedSectors}}</p>
    <p>Selected age: {{selectedAge}}</p>

    <div class="list">
      <header>Filtered Companies</header>
      <ul v-for="company in filteredCompanies">
        <li>{{company | name}}</li>
        <li>{{company | funding}}</li>
      </ul>
    </div>

    <div class="list">
      <header>All Companies</header>
      <ul>
        <li v-for="co in companies">
          {{co}}
        </li>
      </ul>
    </div>
  </div>

  <script src='./scripts/table.js'></script>

</body>
</html>