<html>
<head>
  <title>Vue Tables</title>
  <!-- https://unpkg.com/vue@2.0.3/dist/vue.js -->
  <script src='./scripts/vue.js'></script>
</head>
<body>
  <h1>vue tables</h1>

  <div id="explorer" class="explorer">
    

    <fieldset>
      <p>active sectors:</p>
      <template v-for="sector in activeSectors">
        <button v-on:click="sector.active = !sector.active">{{sector}}</button>
      </template>

      <p>inactive sectors:</p>
      <template v-for="sector in inactiveSectors">
        <button v-on:click="sector.active = !sector.active">{{sector}}</button>
      </template>
    </fieldset>

    <br>

    <fieldset>
      <p>active ages:</p>
      <template v-for="age in activeAges">
        <button v-on:click="age.active = !age.active">{{age}}</button>
      </template>

      <p>inactive ages:</p>
      <template v-for="age in inactiveAges">
        <button v-on:click="age.active = !age.active">{{age}}</button>
      </template>
    </fieldset>
    

    

    <div class="list">
      <h2>Filtered Companies</h2>
      <ul v-for="company in filterCompanies(companies)">
        <li>{{company | name}}</li>
        <li>{{company | funding}}</li>
      </ul>
    </div>

    

    <div class="list">
      <h2>All Companies</h2>
      <ul>
        <li v-for="co in companies">
          {{co}}
        </li>
      </ul>
    </div>
  </div>

  <script src='./scripts/table.js'></script>

</body>
</html>