<html>
<head>
  <title>Vue Tables</title>
  <!-- https://unpkg.com/vue@2.0.3/dist/vue.js -->
  <script src='./scripts/vue.js'></script>
</head>
<body>
  <h1>vue tables</h1>

  <div id="explorer" class="explorer">
    

    <fieldset>

      <p>active sectors:</p>
      <template v-for="sector in activeSectors">
        <button v-on:click="sector.active = !sector.active">{{sector}}</button>
      </template>

      <p>inactive sectors:</p>
      <template v-for="sector in inactiveSectors">
        <button v-on:click="sector.active = !sector.active">{{sector}}</button>
      </template>
    </fieldset>

    <br>

    <fieldset>
      <p>ages:</p>
      <template v-for="age in filterz.ages">
        <div>
          <input type="radio"
                 :id="age.label"
                 :value="age"
                 :name="age.label"
                 v-model="selectedAge">
          <label :for="age.label">{{ age.label }}</label>
        </div>
      </template>
      <p>Selected age: {{selectedAge}}</p>
    </fieldset>
    

    

    <div class="list">
      <h2>Filtered Companies</h2>
      <ul v-for="company in filteredCompanies">
        <li>{{company | name}}</li>
        <li>{{company | funding}}</li>
      </ul>
    </div>

    

    <div class="list">
      <h2>All Companies</h2>
      <ul>
        <li v-for="co in companies">
          {{co}}
        </li>
      </ul>
    </div>
  </div>

  <script src='./scripts/table.js'></script>

</body>
</html>